[submodule "CybORG"]
	path = CybORG
	url = https://github.com/IlyaOrson/CybORG.git
	branch = cage-challenge-2
[submodule "cardiff-cage-2"]
	path = cardiff-cage-2
	url = https://github.com/IlyaOrson/cardiff-cage-2.git
