[submodule "CybORG"]
	path = CybORG
	url = https://github.com/IlyaOrson/CybORG.git
	branch = cage-challenge-2
[submodule "cardiff-cage-2"]
	path = cardiff-cage-2
	url = https://github.com/IlyaOrson/cardiff-cage-2.git
[submodule "turing-cage-2"]
	path = turing-cage-2
	url = https://github.com/IlyaOrson/turing-cage-2.git
	branch = submission-final
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = https://github.com/IlyaOrson/stable-baselines3.git
[submodule "CAGE_2_Fixed"]
	path = CAGE_2_Fixed
	url = https://github.com/IlyaOrson/CAGE_2_Fixed.git
