[submodule "CybORG"]
	path = CybORG
	url = https://github.com/IlyaOrson/CybORG.git
	branch = cage-challenge-2
[submodule "cardiff-cage-2"]
	path = cardiff-cage-2
	url = https://github.com/IlyaOrson/cardiff-cage-2.git
[submodule "turing-cage-2"]
	path = turing-cage-2
	url = https://github.com/IlyaOrson/turing-cage-2.git
	branch = submission-final
[submodule "CybORG_plus_plus"]
	path = CybORG_plus_plus
	url = https://github.com/alan-turing-institute/CybORG_plus_plus.git
